[Unit]
Description=polkit-gnome
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
Restart=always

[Install]
WantedBy=graphical-session.target
