[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=sway-session.target
After=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
    timeout 60  'brightnessctl -d tpacpi::kbd_backlight set 0' \
        resume  'brightnessctl -d tpacpi::kbd_backlight set 100%%' \
    timeout 300 'swaylock -f' \
    timeout 600 'swaymsg "output * power off"' \
        resume  'swaymsg "output * power on"' \
    before-sleep 'echo "suspend: $(awk "BEGIN {printf \\"%%.2f\\", $(cat /sys/class/power_supply/BAT*/energy_now) / $(cat /sys/class/power_supply/BAT*/energy_full) * 100}")%% $(date)" >> /tmp/suspend.log; bluetoothctl power off; swaylock -f' \
    after-resume 'echo "resume:  $(awk "BEGIN {printf \\"%%.2f\\", $(cat /sys/class/power_supply/BAT*/energy_now) / $(cat /sys/class/power_supply/BAT*/energy_full) * 100}")%% $(date)" >> /tmp/suspend.log; bluetoothctl power on'
Restart=always

[Install]
WantedBy=sway-session.target
